<div class="login">
  <div class="wrapper">
    <form (submit)="authenticateUser($event)" [formGroup]="feedbackForm">
      <div class="auth-form">
        <h2 class="title">Welcome</h2>
        <div class="flex">
          <label class="flex-40">Username</label>
          <input class="flex-40" type="text" placeholder="Username" formControlName="username" required/>
        </div>
        <div class="flex">
          <label class="flex-40">Password</label>
          <input class="flex-40" type="password" placeholder="Password" formControlName="password" required/>
        </div>
        <div class="align-right">
          <button>Login</button>
        </div>
      </div>
    </form>
  </div>
</div>