<div class="container">
  <div *ngIf="currentRoute !== '/login'">
    <div class="flex">
      <h2 class="flex-50">Welcome John</h2>
      <a class="flex-50 align-right" href="javascript:void(0)" (click)="logout()">Logout</a>
    </div>
    <ul class="navbar">
      <li [routerLink]="['/list']" [ngClass]="{'select': currentRoute === '/list'}">List</li>
      <li [routerLink]="['/create']" [ngClass]="{'select': currentRoute === '/create'}">Create</li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>